<div id="background-custom"
    style="background-image: url(../../../assets/background-login.jpg);background-repeat: no-repeat; background-size: cover;">
    <div id="login-custom">
        <mat-card-header>
            <mat-card-subtitle>Đăng nhập</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Tài khoản</mat-label>
                    <input matInput placeholder="username" [formControl]="user"  autocomplete="off" [(ngModel)]="searchUser"  required
                        #taiKhoan>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="password" [formControl]="password" [(ngModel)]="searchPassword" required 
                        #pass>
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div>
                <button mat-raised-button color="primary"  [disabled]="!searchUser || !searchPassword">Đăng
                    nhập</button>

            </div>


        </mat-card-actions>
    </div>
</div>